* {
    box-sizing: border-box;
}

html {
    font-size: 16px;
}

body {
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Oxygen-Sans,Ubuntu,Cantarell,"Helvetica Neue",sans-serif;
    font-size: 1em;
    color: whitesmoke;
    margin: 0;
    padding: 0;
    background-color: black;
}

.header--main {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
}

p {margin-bottom: 1.25em;}

h1 {
    font-size: 3.052rem;
    font-weight: 600;
    margin: 1.5rem 1rem 0 1rem;
}

h2 {
    font-weight: 200;
    margin: 0 1rem 2rem 1rem;
    background: -webkit-linear-gradient(right, #aa6677, #445588);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.wrapper {
    margin: 1rem auto 0;
    max-width: 1024px;
    width: 100%;
}

ul {
    list-style-type: none;
}

button {
    font-size: 1rem;
    margin: 1rem auto 0;
    max-width: 400px;
    padding: 1rem;
    text-transform: uppercase;
}

.search {
    display: flex;
    justify-content: center;
    width: 100%;
    position: absolute;
    z-index: 1;
}

.searchTerm {
    background: rgba(0,0,0, .75) ;
    border: none;
    border-radius: 5rem;
    color: rgb(117, 117, 117);
    display: inline-block;
    height: 3rem;
    font-size: 1.5rem;
    margin-top: 8rem;
    max-width: 75%;
    padding-left: 1rem;
    width: 800px;
}

.searchTerm:focus {
    outline: none;
}

.spaceImage {
    display: flex;
    height: 300px;
    justify-content: center;
    max-width: 100%;
    position: relative;
    z-index: 0;
}

.spaceImageChild {
    background-image: url('../pictures/spacebg.jpg');
    background-position: center;
    background-size: cover;
    box-shadow: 0 0 150px 75px black inset;
    height: 100%;
    width: 100%;
}

.footer--main {
    bottom: 0;
    color: #445588;
    display: flex;
    font-family: Arial, Helvetica, sans-serif;
    height: 3rem;
    justify-content: center;
    margin: 1rem auto 0;
    position: absolute;
    width: 100%;
    background: -webkit-linear-gradient(right, #aa6677, #445588);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.loader {
    margin: 100px auto;
    width: 40px;
    height: 40px;
    position: relative;
    text-align: center;
    
    -webkit-animation: sk-rotate 2.0s infinite linear;
    animation: sk-rotate 2.0s infinite linear;
}

.dot1, .dot2 {
    width: 60%;
    height: 60%;
    display: inline-block;
    position: absolute;
    top: 0;
    background-color: whitesmoke;
    border-radius: 100%;
    
    -webkit-animation: sk-bounce 2.0s infinite ease-in-out;
    animation: sk-bounce 2.0s infinite ease-in-out;
}

.dot2 {
    top: auto;
    bottom: 0;
    -webkit-animation-delay: -1.0s;
    animation-delay: -1.0s;
}

@-webkit-keyframes sk-rotate { 100% { -webkit-transform: rotate(360deg) }}
@keyframes sk-rotate { 100% { transform: rotate(360deg); -webkit-transform: rotate(360deg) }}

@-webkit-keyframes sk-bounce {
    0%, 100% { -webkit-transform: scale(0.0) }
    50% { -webkit-transform: scale(1.0) }
}

@keyframes sk-bounce {
    0%, 100% { 
    transform: scale(0.0);
    -webkit-transform: scale(0.0);
    } 50% { 
    transform: scale(1.0);
    -webkit-transform: scale(1.0);
    }
}
